<form method="POST" action="<%= link %>" enctype="multipart/form-data">
    <input type="text" name="featurename">
    <input type="file" name="profpic">
    <input type="text" name="media1text">
    <input type="file" name="media1img">
    <input type="submit" value="submit media">
</form>