<html>
  <head>
    <title>class 11 🍥</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <a href="/">go to home</a>
      <a href="/form">go to form</a>
    </nav>
    <% for(let i = 0; i < posts.length; i++){ %>
    <div class="message-container">
      <div class="color">
        <%= posts[i].color %>
        <div class="username"><%= posts[i].user %></div>
      </div>
    </div>
    <% } %>
  </body>
</html>
