<html>
  <head>
    <title>🐸</title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="form-container">
      <form method="GET" action="/send">
        <div class="form-content">
          <input type="text" name="user" />
          <textarea name="message" value="enter a message"></textarea>
          <input type="submit" name="submitbutton" value="send your message" />
        </div>
      </form>
    </div>
  </body>
</html>
